# Brandfetch
BRANDFETCH_API_KEY=your-brandfetch-api-key-here
BRANDFETCH_CLIEND_ID=your-brandfetch-client-id-here
BRANDFETCH_BRAND_CONTEXT_ENDPOINT=https://api.brandfetch.io/v2/context

# Logo.dev
LOGO_DEV_AUTOCOMPLETE=https://www.logo.dev/docs/use-cases/company-autocomplete
LOGO_DEV_PUBLISHABLE_KEY=your-logo-dev-publishable-key-here
LOGO_DEV_SECRET_KEY=your-logo-dev-secret-key-here
LOGO_DEV_BRAND_API_ENDPOINT=https://api.logo.dev/brand

# Server transport (optional)
# MCP_TRANSPORT=stdio  # or http-stream
# PORT=8080
